@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 15 23 42;
  }

  .dark {
    --background: 2 6 23;
    --foreground: 248 250 252;
  }
}

body {
  @apply bg-white dark:bg-slate-950 text-slate-900 dark:text-slate-50;
}